*{
    user-select: none;
    padding: 0;
    margin: 0;
    font-family: 'Overpass', sans-serif;
}

/*colores azul, marino y plomo plata (promo)
colores rojo, blanco y rojo (colegio)*/

header{
    height: 10vh;
    background: radial-gradient(white, rgb(90,140,140));
}

ul{
    height: 10vh;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-around;
}

li a{
    text-decoration: none;
    letter-spacing: 2px;
    color: rgb(0,0,0);
    font-size: 1.3em;
    transition-duration: 0.3s;
}

li a:hover{
    font-size: 1.5em;
    color: rgb(70,90,180);
}
*{
    padding: 0;
    margin: 0;
    font-family: 'Overpass', sans-serif;
}

/*colores azul, marino y plomo plata (promo)
colores rojo, blanco y rojo (colegio)*/

header{
    position: sticky;
    top: 0;
    height: 10vh;
    background: white;
}

ul{
    height: 10vh;
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-around;
}

li a{
    text-decoration: none;
    letter-spacing: 2px;
    color: rgb(0,0,0);
    font-size: 1.3em;
    transition-duration: 0.3s;
}

li a:hover{
    font-size: 1.5em;
    color: rgb(70,90,180);
}

body{
    background: rgb(200,200,200);
}

.f a:hover{
    color: blue;
}

.f{
    height: 85vh;
    display: flex;
}

.f a{
    transition-duration: 1s;
    color: black;
    text-decoration: none;
    font-size: 6vh;
    margin: auto;
}